<%- include('header') -%>
<%- include('nav') -%>


    <% if(campaign) {%>
            <div class="greennature-page-title-wrapper header-style-5-title-wrapper">
                <div class="greennature-page-title-overlay"></div>
                <div class="greennature-page-title-container container">
                    <h1 class="greennature-page-title"><%- campaign.title %></h1>
                    <span class="greennature-page-caption"><%- campaign.place %></span>
                </div>
            </div>
            <!-- is search -->
            <div class="content-wrapper">
                <div class="greennature-content">
    
                    <!-- Above Sidebar Section-->
    
                    <!-- Sidebar With Content Section-->
                    <div class="with-sidebar-wrapper">
                        <div class="with-sidebar-container container">
                            <div class="with-sidebar-left nine columns">
                                <div class="with-sidebar-content eight columns">
                                    <section id="content-section-1">
                                        <div class="section-container container">
                                            <div class="portfolio-item-wrapper type-classic-portfolio" data-ajax="https://demo.goodlayers.com/greennature/wp-admin/admin-ajax.php">
                                                <div class="portfolio-item-holder  greennature-portfolio-column-1">
                                                    <div class="greennature-isotope" data-type="portfolio" data-layout="fitRows">
                                                        <div class="clear"></div>
                                                        <div class="twelve columns">
                                                            <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                                <div class="greennature-ux greennature-classic-portfolio-ux">
                                                                    <div class="portfolio-thumbnail greennature-image"><img src="/images/campaigns/<%- campaign.images[0].url %>" alt="" width="960" height="640" /></div>
                                                                    
                                                                    <div class="portfolio-classic-content">
                                                                        <h3 class="portfolio-title"><a  href="#"  ><%- campaign.title %></a></h3>
                                                                        <div class="greennature-portfolio-info">
                                                                            <div class="blog-info blog-category greennature-skin-info"><i class="fa fa-sign-in" aria-hidden="true"></i> <a href="<%- campaign.join_us_url %>" rel="tag">Click to Join Campaign</a></div>
                                                                            <div class="blog-info blog-category greennature-skin-info"><i class="fa fa-map-marker" aria-hidden="true"></i><a href="#" rel="tag">Campaign</a><a href="#" rel="tag">Addis Ababa</a></div>
                                                                           
                                                                            <div class="clear"></div>
                                                                        </div>
                                                                        <div class="portfolio-excerpt"><%- campaign.description %>
                                                                            <div class="blog-info blog-category greennature-skin-info">
                                                                                <i class="fa fa-link" aria-hidden="true"></i>
                                                                                <a href="#" rel="tag">Campaign</a>
                                                                                <span class="sep">,</span> 
                                                                                <iframe width="560" height="315" src="<%- campaign.video_url.replace('watch?v=', 'embed/') %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
                                                                            </div>                                                                      
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                        <div class="clear"></div> 
                                                        <div class="greennature-pagination">
                                                           
                                                            <a class="next page-numbers" href="<%- campaign.join_us_url %>">Join Us &rsaquo;</a>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Below Sidebar Section-->
    
                </div>
                <!-- greennature-content -->
                <div class="clear"></div>
            </div>

    <%} else{  %>
        <h1 class="">No Campaigns Found!</h1>
    <% } %> 

<%- include('footer') -%>