<%- include('header') -%>
<%- include('nav') -%>

<!-- is search -->
<div class="content-wrapper">
    <div class="greennature-content">

        <!-- Above Sidebar Section-->

        <!-- Sidebar With Content Section-->
        <div class="with-sidebar-wrapper">
            <section id="content-section-1">
                <div class="greennature-full-size-wrapper gdlr-show-all no-skin" style="padding-bottom: 0px;  background-color: #ffffff; ">
                    <div class="greennature-master-slider-item greennature-slider-item greennature-item" style="margin-bottom: 0px;">
                        <!-- MasterSlider -->
                        <div id="P_slider_1" class="master-slider-parent ms-parent-id-1">

                            <!-- MasterSlider Main -->
                            <div id="slider_1" class="master-slider ms-skin-default">

                                <div class="ms-slide hideUnderline" data-delay="7" data-fill-mode="fill">
                                    <img src="plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="images/panaroma/1.png" />

                                    <a href="/about" target="_self" class="ms-layer ms-btn ms-btn-round ms-btn-n msp-preset-btn-159" data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="400" data-delay="987" data-ease="easeOutQuint" data-type="button" data-offset-x="1" data-offset-y="208" data-origin="ml" data-position="normal">Learn More</a>
                                      
                                    <div class="ms-layer  msp-cn-1-3"  data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-delay="625" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="105" data-origin="ml" data-position="normal">
                                        Sustainable Growth  </div>

                                    <div class="ms-layer  msp-cn-1-2"  data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="425" data-delay="325" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-5" data-origin="ml" data-position="normal">
                                        Nature for</div>

                                    <div class="ms-layer  msp-cn-1-1" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="350" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-100" data-origin="ml" data-position="normal">
                                        Prioritize</div>

                                </div>
                                <div class="ms-slide hideUnderline" data-delay="7" data-fill-mode="fill">
                                    <img src="plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="images/panaroma/2.png" />

                                    <a href="/about" target="_self" class="ms-layer ms-btn ms-btn-round ms-btn-n msp-preset-btn-159" data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="400" data-delay="987" data-ease="easeOutQuint" data-type="button" data-offset-x="1" data-offset-y="227" data-origin="ml" data-position="normal">Learn More</a>
                                      
                                    <div class="ms-layer  msp-cn-1-3"  data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-delay="625" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="105" data-origin="ml" data-position="normal">
                                        ecological challenges.</div>

                                    <div class="ms-layer  msp-cn-1-1"  data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="425" data-delay="325" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-5" data-origin="ml" data-position="normal">
                                        currently faces many  </div>

                                    <div class="ms-layer  msp-cn-1-1" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="350" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-100" data-origin="ml" data-position="normal">
                                        Ethiopia is rich in natural resources, but </div>

                                </div>
                                <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                    <img src="plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="images/panaroma/3.png" />
                                    
                                    
                                    <div class="ms-layer  msp-cn-1-10"  data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="425" data-delay="425" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="82" data-origin="mc" data-position="normal">
                                        Conserving nature, fighting climate change and supporting sustainable cities are our key guiding principles</div>

                                    <!-- <div class="ms-layer  msp-cn-1-1" data-effect="t(true,n,n,500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-15" data-origin="mc" data-position="normal">
                                        fighting climate change and building sustainable cities</div> -->

                                </div>

                            </div>
                            <!-- END MasterSlider Main -->

                        </div>
                        <!-- END MasterSlider -->


                    </div>
                    <div class="clear"></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </section>
            <section id="content-section-2">
                <div class="greennature-color-wrapper  gdlr-show-all greennature-skin-brown-column-service" style=" background-color: #f0f0f0;   padding-top: 0px; padding-bottom: 0px; ">
                    <div class="container">
                        <div class="four columns">
                            <div class="greennature-ux column-service-ux">
                                <div class="greennature-item greennature-column-service-item greennature-type-2" style="margin-bottom: 0px;">
                                    <div class="column-service-content-wrapper">
                                        <h3 class="column-service-title"style="color: #464646;" >Mission</h3>
                                        <div class="column-service-content greennature-skin-content">
                                            <p style="color: #464646; font-size:1rem ;">Raise awareness, educate and create a space for dialogue on the current environmental challenges we face in Ethiopia. We strive to take the lead to solve some of the most demanding environmental issues prevalent in our country.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four columns">
                            <div class="greennature-ux column-service-ux">
                                <div class="greennature-item greennature-column-service-item greennature-type-2-bg" style="margin-bottom: 0px;background-color: #f0f0f0;">
                                    <div class="column-service-content-wrapper">
                                        <h3 class="column-service-title" style="color: #464646;">Vision</h3>
                                        <div class="column-service-content greennature-skin-content">
                                            <p style="color: #464646; font-size:1rem ;">We want to see an Ethiopia that acknowledges the centrality of nature, and recognizes and honors the health of the surrounding environment in order for the sustainable growth and development of Ethiopia to take place.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four columns">
                            <div class="greennature-ux column-service-ux">
                                <div class="greennature-item greennature-column-service-item greennature-type-2" style="margin-bottom: 0px;">
                                    <div class="column-service-content-wrapper">
                                        <h3 class="column-service-title" style="color: #464646;">Goal</h3>
                                        <div class="column-service-content greennature-skin-content">
                                            <p style="color: #464646; font-size:1rem ;">Our goal is to facilitate discussions around current ecological issues in Ethiopia to move towards a healthy and flourishing future fueled by clean and renewable energy.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
            <section id="content-section-3">
                <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all no-skin" id="greennature-parallax-wrapper-1" data-bgspeed="0.11" style="background-size: cover; background-repeat: no-repeat; background-image: url('upload/slider-1.jpg'); padding-top: 90px; padding-bottom: 65px; ">
                    <div class="container">
                    <div class="container">
                        <div class="twelve columns">
                            <div class="greennature-item greennature-action-ads-item" style="background-size: contain; background-color: #107d63; opacity: 0.8;">
                                <h3 class="action-ads-title" style="color: #facc2e;text-align: center;">Join Our Mission</h3>
                                <div class="action-ads-caption greennature-skin-info" style="text-align: center;"> For a greener and cleaner Ethiopia</div>

                                <div class="action-ads-content" style="text-align: center;">
                                    <a class="action-ads-button large greennature-button greennature-lb-payment" href="https://forms.gle/TDSSqaN149751dgp7" target="_blank" style="color: #6d5b1c;background-color: #fec428;">Join Our Team</a>
                                </div>
                            </div>
                        </div>
                       
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
            <section id="content-section-4">
                <div class="greennature-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-bottom: 25px; ">
                    <div class="container">
                        <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-medium ">
                            <div class="greennature-item-title-container container">
                                <div class="greennature-item-title-head">
                                    <h3 class="greennature-item-title greennature-skin-title greennature-skin-border"><img src="upload/icon-5.png" alt="" width="80" height="80" />Our Recent Campaigns</h3>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item-wrapper type-classic-portfolio" >
                            <div class="portfolio-item-holder  greennature-portfolio-column-4">
                                <div class="greennature-isotope" data-type="portfolio" data-layout="fitRows">
                                    <div class="clear"></div>
                                    <% campaigns.forEach((campaign) => { %>
                                        <div class="three columns">
                                            <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                <div class="greennature-ux greennature-classic-portfolio-ux">
                                                    <div class="portfolio-thumbnail greennature-image"><a class="hov-img0 how-pos5-parent rs1 " href="/campaigns/<%= campaign.id %>" data-fancybox-group="greennature-gal-1" data-rel="fancybox">
                                                        <img class=" img-fluid" src="/images/campaigns/<%- campaign.images[0].url %>" alt=""/><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="/images/campaigns/<%- campaign.images[0].url %>" data-rel="fancybox"><span class="portfolio-icon" ><i class="fa fa-search" ></i></span></a></div>
                                                    <div class="portfolio-classic-content">
                                                        <h2 class="portfolio-title"><a  href="/campaigns/<%-campaign.id %>"  ><%- campaign.title %></a></h2>
                                                        <div class="greennature-portfolio-info">
                                                            <div class="clear"></div>
                                                        </div>
                                                        
                                                        <div style="font-size:1.5rem ;" class="portfolio-excerpt"><%- campaign.description %></div>
                                                            <div class="clear"></div>
                                                        <div>
                                                            <a href=" /campaigns/<%-campaign.id %>" class="" style="font-size:1rem ;">Read More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
           
          
            

        </div>
        <!-- Below Sidebar Section-->

    </div>
    <!-- greennature-content -->
    <div class="clear"></div>
</div>
<!-- content wrapper -->

<%- include('footer') -%>